body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b7a6a698;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    width: 3rem;
    height: 3rem;
  }
  
  .wall {    
    background-image: url(assets/wall.png);
    background-color: #444;
  }

  .path {
    background-image: url(assets/path.png);
    background-color: #50cb6e;
  }
  .gate{
    background-image: url(/assets/gate.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #50cb6e;
  }
  
  .hero {
    background-image: url(./assets/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #50cb6e;
  }
  .treasure {
    background-image:url(assets/gem.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cad048;
  }
  
  .fog {
    background-color: #808080;  
    opacity: 0;
  }

  @media screen and (max-width: 756px){
  td {
    width: 1.5rem;
    height: 1.5rem;
  }
  }